.terminal-box {
    overflow:auto;
    height:100%;
    font-family:monospace;
    padding:0.8rem;
    padding-right:0px;
    box-sizing:border-box;
}
.terminal-output, .terminal-input span, .terminal-input textarea {
    font-size:1rem;
    line-height:1.2rem;
    font-family:inherit;
    padding:0px;
    margin:0px;
    border:0;
    outline:0;
    box-sizing:border-box;
    background:transparent;
}
.terminal-output {
    white-space: pre-wrap;
}
.terminal-input {
    display:flex;
}
.terminal-input textarea {
    resize:none;
    flex:1;
    overflow:hidden;
    color:inherit;
}

/*Fixed at the Bottom Option*/
.terminal-box.fixed {
    display:flex;
    flex:1;
    flex-direction:column;
}
.terminal-box.fixed .terminal-output {
    overflow-y:auto;
    flex:1;
}